<!-- Modal Dialog -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirmation
            </div>
            <div class="modal-body">
                <p>L'action que vous souhaitez effectuer est irreversible. Confirmez-vous l'action ?</p>
                <!--<p class="debug-url"></p>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="#" class="btn btn-danger danger">Confirmer</a>
            </div>
        </div>
    </div>
</div>